.todoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.formToSubmit .todoInput {
  width: 550px;
  height: 65px;
  border: 1px solid black;
}

.tickBoxImg{
  width: 20px;
  height: 20px;
}